In [11]:
import pandas as pd
import datetime

In [12]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=["ahmet","mehmet"])

In [82]:
df2 = pd.DataFrame([[5, 6]], columns=["ahmet","mehmet"])
df.append(df2)

          latitude  longitude  ahmet  mehmet
21:24:52      33.0      -23.0    NaN     NaN
0              NaN        NaN    5.0     6.0

In [83]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 00:00:37

In [84]:
current_time

'00:00:37'

In [85]:
df= pd.read_csv("coordinates.csv",delimiter=",", index_col=0)

In [86]:
df

           latitude     longitude
timestamp
21:24:52       33.0    -23.000000
22:11:13       22.0     32.000000
22:11:18       22.0     32.000000
22:11:23       22.0     32.000000
22:11:28       22.0     32.000000
...             ...           ...
00:00:09    33772.0 -58424.714755
00:00:14    33802.0 -58476.676280
00:00:19    33832.0 -58528.637804
00:00:24    33862.0 -58580.599328
00:00:29    33892.0 -58632.560852

[1152 rows x 2 columns]

In [87]:
dfLatest=pd.DataFrame([[current_time,44, 22]], columns=["timestamp","latitude","longitude"])

In [88]:
dfLatest=dfLatest.set_index("timestamp")

In [89]:
df=df.append(dfLatest)

In [90]:
df

           latitude     longitude
timestamp
21:24:52       33.0    -23.000000
22:11:13       22.0     32.000000
22:11:18       22.0     32.000000
22:11:23       22.0     32.000000
22:11:28       22.0     32.000000
...             ...           ...
00:00:14    33802.0 -58476.676280
00:00:19    33832.0 -58528.637804
00:00:24    33862.0 -58580.599328
00:00:29    33892.0 -58632.560852
00:00:37       44.0     22.000000

[1153 rows x 2 columns]

In [91]:
df.to_csv("test1.csv", encoding='utf-8', index=True)

In [92]:
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

df= pd.read_csv("coordinates.csv",delimiter=",", index_col=0)
#log the position 
dfLatest=pd.DataFrame([[current_time,55, 33]], columns=["timestamp","latitude","latitude"])
dfLatest=dfLatest.set_index("timestamp")
df.append(dfLatest)

time.sleep(60)
print("Logging")
df.to_csv("coordinates.csv", encoding='utf-8', index=True)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [93]:
current_time

'00:00:48'

In [94]:
df= pd.read_csv("coordinates.csv",delimiter=",", index_col=0)

In [95]:
df

           latitude     longitude
timestamp
21:24:52       33.0    -23.000000
22:11:13       22.0     32.000000
22:11:18       22.0     32.000000
22:11:23       22.0     32.000000
22:11:28       22.0     32.000000
...             ...           ...
00:00:19    33832.0 -58528.637804
00:00:24    33862.0 -58580.599328
00:00:29    33892.0 -58632.560852
00:00:34    33922.0 -58684.522377
00:00:39    33952.0 -58736.483901

[1154 rows x 2 columns]

In [96]:
dfLatest

           latitude  latitude
timestamp
00:00:48         55        33

In [97]:
df.append(dfLatest)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [98]:
from geopy import Point
from geopy.distance import distance, VincentyDistance

# given: lat1, lon1, bearing, distMiles
lat2, lon2 = VincentyDistance(miles=distMiles).destination(Point(lat1, lon1), bearing)

ImportError: cannot import name 'VincentyDistance' from 'geopy.distance' (/Users/usoysal/opt/anaconda3/lib/python3.7/site-packages/geopy/distance.py)

In [99]:
import math

R = 6378.1 #Radius of the Earth
brng = 1.57 #Bearing is 90 degrees converted to radians.
d = 15 #Distance in km

#lat2  52.20444 - the lat result I'm hoping for
#lon2  0.36056 - the long result I'm hoping for.

lat1 = math.radians(52.20472) #Current lat point converted to radians
lon1 = math.radians(0.14056) #Current long point converted to radians

lat2 = math.asin( math.sin(lat1)*math.cos(d/R) +
     math.cos(lat1)*math.sin(d/R)*math.cos(brng))

lon2 = lon1 + math.atan2(math.sin(brng)*math.sin(d/R)*math.cos(lat1),
             math.cos(d/R)-math.sin(lat1)*math.sin(lat2))

lat2 = math.degrees(lat2)
lon2 = math.degrees(lon2)

print(lat2)
print(lon2)

52.204622996207924
0.3604338874899309