In [ ]:
import pandas as pd
import datetime

# this notebook is just to try some basic syntax and functions. No need to look

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=["ahmet","mehmet"])

In [ ]:
df2 = pd.DataFrame([[5, 6]], columns=["ahmet","mehmet"])
df.append(df2)

In [ ]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

In [ ]:
current_time

In [ ]:
df= pd.read_csv("coordinates.csv",delimiter=",", index_col=0)

In [ ]:
df

In [ ]:
dfLatest=pd.DataFrame([[current_time,44, 22]], columns=["timestamp","latitude","longitude"])

In [ ]:
dfLatest=dfLatest.set_index("timestamp")

In [ ]:
df=df.append(dfLatest)

In [ ]:
df

In [ ]:
df.to_csv("test1.csv", encoding='utf-8', index=True)

In [ ]:
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

df= pd.read_csv("coordinates.csv",delimiter=",", index_col=0)
#log the position 
dfLatest=pd.DataFrame([[current_time,55, 33]], columns=["timestamp","latitude","latitude"])
dfLatest=dfLatest.set_index("timestamp")
df.append(dfLatest)

time.sleep(60)
print("Logging")
df.to_csv("coordinates.csv", encoding='utf-8', index=True)

In [ ]:
current_time

In [ ]:
df= pd.read_csv("coordinates.csv",delimiter=",", index_col=0)

In [ ]:
df

In [ ]:
dfLatest

In [ ]:
df.append(dfLatest)

In [ ]:
from geopy import Point
from geopy.distance import distance, VincentyDistance

# given: lat1, lon1, bearing, distMiles
lat2, lon2 = VincentyDistance(miles=distMiles).destination(Point(lat1, lon1), bearing)

In [ ]:
import math

R = 6378.1 #Radius of the Earth
brng = 1.57 #Bearing is 90 degrees converted to radians.
d = 15 #Distance in km

#lat2  52.20444 - the lat result I'm hoping for
#lon2  0.36056 - the long result I'm hoping for.

lat1 = math.radians(52.20472) #Current lat point converted to radians
lon1 = math.radians(0.14056) #Current long point converted to radians

lat2 = math.asin( math.sin(lat1)*math.cos(d/R) +
     math.cos(lat1)*math.sin(d/R)*math.cos(brng))

lon2 = lon1 + math.atan2(math.sin(brng)*math.sin(d/R)*math.cos(lat1),
             math.cos(d/R)-math.sin(lat1)*math.sin(lat2))

lat2 = math.degrees(lat2)
lon2 = math.degrees(lon2)

print(lat2)
print(lon2)

In [16]:
import pandas as pd
from scipy import interpolate
import numpy as np

In [17]:
df=pd.read_csv("PolarDiagrams/Book1.csv")

In [18]:
windAng=88
windSpeed=9

closest_row_index = df['twa/tws'].sub(windAng).abs().idxmin()
print(closest_row_index)
closest_value=df.iloc[closest_row_index]['twa/tws']
print(closest_value)

if (windAng==closest_value):
    secondcloserRowInd=closest_row_index
elif (windAng>closest_value):
    secondcloserRowInd=closest_row_index+1  
else:
    secondcloserRowInd=closest_row_index-1

print(df.iloc[secondcloserColInd]['twa/tws'])

4
90.0
75.0

In [19]:
angles=df['twa/tws']
angles
df.columns[1:]
test_list=df.columns[1:].tolist()
for i in range(0, len(test_list)): 
    test_list[i] = int(test_list[i]) 

speed=9

def closest(lst, K):       
    return lst[min(range(len(lst)), key = lambda i: abs(lst[i]-K))] 

closestColValue=closest(test_list,speed)

closestColIndex = test_list.index(closestColValue)

if (closestColValue==speed):
    secondindex=closestColIndex
elif (closestColValue<speed):
    secondColindex=closestColIndex+1
else:
    secondColindex=closestColIndex-1


estimatedBoatSpeed=(df.iloc[closest_row_index][closestColIndex]+df.iloc[secondcloserRowInd][closestColIndex]+df.iloc[closest_row_index][secondColindex]+df.iloc[secondcloserRowInd][secondColindex])/4
estimatedBoatSpeed

7.5

In [21]:
df

   twa/tws     6     8    10    12    14     16     20
0        0  0.00  0.00  0.00  0.00  0.00   0.00   0.00
1       52  6.42  7.51  7.87  8.01  8.10   8.21   8.36
2       60  6.81  7.74  8.09  8.28  8.40   8.49   8.75
3       75  7.12  7.90  8.36  8.74  8.96   9.11   9.39
4       90  7.08  7.90  8.41  8.96  9.43   9.76  10.12
5      110  6.86  7.96  8.51  8.93  9.36   9.81  11.09
6      120  6.68  7.90  8.60  9.24  9.69  10.16  11.35
7      135  6.06  7.48  8.22  8.96  9.83  10.83  12.45
8      150  5.11  6.43  7.47  8.17  8.84   9.59  11.70

In [22]:
df.iloc[closest_row_index][closestColIndex]

7.08