In [11]:
import pandas as pd
import datetime

In [12]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=["ahmet","mehmet"])

In [13]:
df2 = pd.DataFrame([[5, 6]], columns=["ahmet","mehmet"])

In [14]:
df.append(df2)

   ahmet  mehmet
0      1       2
1      3       4
0      5       6

In [15]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 21:27:52

In [53]:
current_time

'21:27:52'

In [54]:
df= pd.read_csv("coordinates.csv",delimiter=",", index_col=0)

In [55]:
df

           latitude  longitude
timestamp
21:24:52         33        -23

In [56]:
dfLatest=pd.DataFrame([[current_time,44, 22]], columns=["timestamp","latitude","longitude"])

In [57]:
dfLatest=dfLatest.set_index("timestamp")

In [58]:
df.append(dfLatest)

           latitude  longitude
timestamp
21:24:52         33        -23
21:27:52         44         22

In [59]:
df

           latitude  longitude
timestamp
21:24:52         33        -23

In [60]:
dfLatest

           latitude  longitude
timestamp
21:27:52         44         22

In [61]:
df.join(dfLatest)

ValueError: columns overlap but no suffix specified: Index(['latitude', 'longitude'], dtype='object')

In [62]:
data

           latitude  longitude  latitude  latitude
timestamp
21:24:52       33.0      -23.0       NaN       NaN
21:27:52        NaN        NaN      44.0      22.0

In [63]:
df

           latitude  longitude
timestamp
21:24:52         33        -23

In [ ]:
df.to_csv(name="test1.csv"index=False)